.ShowUsers {
  width: 95%;
  padding: 10px;
  background-color: #d6d6d6bd;
  //border: 1px solid black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 4px 10px 2px rgba(0, 0, 0, 0.3);
  min-height: 540px;
}
.ShowUsers > h3 {
  text-align: center;
  color: black;
  font-size: 30px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #79787829;
}
.swCloseButton {
  float: right;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  border: none;
}
.swCloseButton:active {
  color: black;
}
